.header{
    width: 100%;
    height: 700px;
    background-image: url(../assets/bannerheader1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    text-align: center;
}
.header:before, nav {
    left: 0;
    top: 0;
    width: 100%;
}
.header::before{
    background: radial-gradient(circle, rgb(229 255 0 / 25%) 0%, rgba(232,255,49,0) 100%);
    content: "";
    height: 100%;
    position: absolute;
    z-index: -1;
}
.header h1, .header p {
    position: relative;
    top: 40%;
    color: #fff;
    font-family: Lato;
    letter-spacing: 2px;
    margin: 0;
}
.header p {
    font-size: 2.7rem;
}
.header h1 {
    font-size: 5rem;
}
.header span {
    color: rgb(223, 223, 0);
}

/* Mobile Layout ****************/

@media (max-width:768px){

    .header h1 {
        font-size: 3rem;
    }
    .header{
        width: 100%;
    }
}